# SQL - Python

### Criando uma base de dados

In [1]:
import sqlite3

### Nome da Base

In [2]:
conexion = sqlite3.connect("ejemplo.db")

### Criando um cursor

In [3]:
onexion = sqlite3.connect("ejemplo.db")

cursor = conexion.cursor()

conexion.close()

### Criando uma Tabela

In [4]:
# Criando uma tabela chamada Estudiantes
conexion = sqlite3.connect("ejemplo.db")
cursor = conexion.cursor()

cursor.execute("CREATE TABLE estudiantes (email VARCHAR(100), carrera VARCHAR(100), nombre VARCHAR(100), edad INTEGER)")

conexion.close()

ProgrammingError: Cannot operate on a closed database.

### Comando `INSERT INTO`

In [ ]:
conexion = sqlite3.connect("ejemplo.db")
cursor = conexion.cursor()

# Inserindo dados na tabela
cursor.execute("INSERT INTO estudiantes VALUES ('bluenote@googlemail.com','Artes','Sharon', 27)")

# Guardando o dado
conexion.commit()

conexion.close()

### Comando `SELECT * FROM`

In [ ]:
conexion = sqlite3.connect('ejemplo.db')
cursor = conexion.cursor()

# Selecionando os dados da tabela
cursor.execute("SELECT * FROM estudiantes")

usuarios = cursor.fetchone()
print(usuarios)

### Select com varios registros

In [ ]:
conexion = sqlite3.connect("ejemplo.db")
cursor = conexion.cursor()

usuarios = [
    ('parrillaexquisita@vip.com','Arquitectura','Giulia', 26),
    ('lollipopbusiness@vip.com','Contaduría','Rosana', 60),
    ('solfernandez@googlemail.com','Estadística','Sol', 30),
    ('carlitos@googlemail.com','Computación','Carlos', 60),
    ('imprentadetata@vip.com','Periodismo','Luciano', 21)
]


cursor.executemany("INSERT INTO estudiantes VALUES (?,?,?,?)", usuarios)

conexion.commit()

conexion.close()

In [ ]:
conexion = sqlite3.connect('ejemplo.db')
cursor = conexion.cursor()

# Recuperando os dados da tabela
cursor.execute("SELECT * FROM estudiantes")

usuarios = cursor.fetchall()

for u in usuarios:
    print(u)
    
conexion.close()

### Ler um CSV e colocar no Banco de dados

In [ ]:
import sqlite3
import csv

conexion = sqlite3.connect(r"C:\Users\ldavidr\Documents\ejemplo.db")
cursor = conexion.cursor()

archivo = open(r"C:\Users\ldavidr\Desktop\datos_db.txt")

filas = csv.reader(archivo)

cursor.executemany("INSERT INTO estudiantes VALUES (?,?,?,?)", filas)

cursor.execute("SELECT * FROM estudiantes")

print(cursor.fetchall())

conexion.commit()
conexion.close()